<!DOCTYPE html>
{% extends "base.html" %}

{% block body_main %}
	<h1>
		Login
	</h1>

	<form method="POST" action="/login">
		<div title="Email associated with existing account">
			<input type="email" name="email" placeholder="Your Email" autofocus="" required>
		</div>

		<br>

		<div title="Password of existing account">
			<input type="password" name="password" placeholder="Your Password" required>
		</div>

		<br>

		<div title="Check to reamin logged in (only use if on private device)">
			<label>
				<input type="checkbox" name="remember">
				Remember me.
			</label>
		</div>

		<br>

		<button title="Login to your account">
			Login
		</button>
	</form>
{% endblock %}
