{% extends "base.html" %}

{% block head %}
	<h3 class="title">
		Welcome to your profile {{ current_user.full_name }}.
	</h3>
{% endblock %}

{% block body %}
	<div class="box">
		<p>
			<label for="fname">Name:</label>
			{{ current_user.full_name }}
		</p>
		<p>
			<label for="email">Email:</label>
			{{ current_user.email }}
		</p>
		<p>
			<label for="quantity">ID:</label>
			{{ current_user.id }}
		</p>
		<form method="POST" action="/delete">
			<button class="button is-block is-info is-large is-fullwidth">Delete Account</button>
		</form>
	</div>
{% endblock %}

