<!DOCTYPE html>
{% extends "base.html" %}

{% block body_main %}
	<h1 title="Your account page">
		Welcome to your profile {{ current_user.full_name }}.
	</h1>

	<label for="fname" title="Name of account's owner">Name:</label>
	{{ current_user.full_name }}

	<br>

	<label for="email" title="Account's email address">Email:</label>
	{{ current_user.email }}

	<br>

	<label for="quantity" title="Account's unique ID">ID:</label>
	{{ current_user.id }}

	<br>

	<form method="POST" action="/delete">
		<button title="Delete this account">
			Delete Account
		</button>
	</form>
{% endblock %}

