{% extends "base.html" %}

{% block head %}
	<h3 class="title">Account Creation</h3>
{% endblock %}

{% block body %}
	<div class="box">
		<form method="POST" action="/signup">
			<div class="field">
				<div class="control">
					<input class="input is-large" type="email" name="email" placeholder="Email" autofocus="">
				</div>
			</div>
			<div class="field">
				<div class="control">
					<input class="input is-large" type="text" name="full_name" placeholder="Name" autofocus="">
				</div>
			</div>
			<div class="field">
				<div class="control">
					<input class="input is-large" type="password" name="password" placeholder="Password">
				</div>
			</div>
			<button class="button is-block is-info is-large is-fullwidth">Sign Up</button>
		</form>
	</div>
{% endblock %}
