/* Global Site Configuration */

/* Based on w3schools.com/lib/w3schools32.css */

*,
*:before,
*:after {
	box-sizing: inherit;
}

html {
	background-color: DimGray;
	overflow-x: hidden;
	overflow-y: scroll;
}

body {
	margin: 0;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
main,
menu,
nav,
section {
	display: block;
}

a:active,
a:hover {
	outline-width: 0;
}

button,
input,
textarea {
	font: inherit;
	margin: 0;
}

button,
input {
	overflow: visible;
}

button,
select {
	text-transform: none;
}

button {
    display: inline-block;
    vertical-align: middle;
    text-decoration: none;
    color: inherit;
    text-align: center;
}

h1 {
	font-size: 36px;
}

h2 {
	font-size: 30px;
}

h3 {
	font-size: 24px;
}

h4 {
	font-size: 20px;
}

h5 {
	font-size: 18px;
}

h6 {
	font-size: 16px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: "Segoe UI", Arial, sans-serif;
	font-weight: 400;
	margin: 10px 0;
}

hr {
	border: 0;
	border-top: 1px solid #eee;
	margin: 20px 0;
}

a {
	color: inherit;
}

.site-padding-small {
	padding: 4px 8px !important;
}

.padding {
	padding: 8px 16px !important;
}

.site-btn:hover {
	box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.text-tiny {
	font-size: 10px !important;
}

.text-small {
	font-size: 12px !important;
}

.text-medium {
	font-size: 15px !important;
}

.text-large {
	font-size: 18px !important;
}

.text-xlarge {
	font-size: 24px !important;
}

