/* Footer */

footer div {
    overflow: hidden;
}

footer div.title-link {
    width: auto;
    float: left;
    padding: 40px;
}

footer div.list-link {
    width: auto;
    float: left;
    padding-left: 40px;
    padding-right: 140px;
    font-size: 12px;
    line-height: 15px;
}

footer div.list-link:nth-child(4) {
	padding-right: 0;
}

footer div.list-link h5 {
	margin-bottom: 20px;
}

footer div.footer {
	padding-left: 40px;
	font-size: 12px;
	line-height: 50px;
}

@media screen and (max-width: 1275px) {
	footer {
		background-size: 500px, auto;
	}

	footer div.title-link {
		padding-left: 3%;
		padding-right: 3%;
	}

	footer div.list-link {
		padding-right: 8%;
	}
}

@media screen and (max-width: 925px) {
	footer {
		padding-bottom: 400px;
	}

	footer div.title-link {
        width: 100%;
        margin: auto;
        float: none;
        text-align: center;
        padding: 10px 20px !important;
        font-size: 20px;
	}

	footer div.title-link:nth-child(1) {
		padding: 40px 20px;
	}

	footer div.list-link {
        width: 100%;
        float: none;
        margin: auto;
        font-size: 16px;
        line-height: 20px;
        padding: 0;
        text-align: center;
    }

	footer div.list-link h5 {
        font-size: 26px;
        margin-top: 40px;
    }

	footer div.footer {
		text-align: center;
		padding: 0;
	}
}

